@import "~@mdi/font/css/materialdesignicons.min.css";
@import "~bulma";

.float-right { float: right; }
.float-left { float: left; }

html, body {
    min-height: 100%;
}


table.list {
    border-collapse: separate;
    border-spacing: 1em;
}

#app {
    height: calc(100% - #{$navbar-height})
}

#app > .columns, #app > .columns > .column {
    height: 100%;
}

.navbar {
    margin-bottom: 1em;
}

.app-header {
    margin-bottom: 1em;
}

.app-menu {
    padding: $box-padding;
    background-color: #fafafa;
    border-right: 1px $grey-lightest solid;
}


form.is-inline .field,
form.is-inline .control, form.is-inline .label {
    display: inline-block;
}

form.is-inline .field:not(:last-child) {
    margin-right: 1em;
}




//-- helpers/modifiers
.is-fullwidth { width: 100%; }
.is-fixed-bottom {
    position: fixed;
    bottom: 0;
    margin-bottom: 0px;
    border-radius: 0;
}
.is-borderless { border: none; }

.has-text-nowrap {
    white-space: nowrap;
}

.has-background-transparent {
    background-color: transparent;
}

.is-opacity-light {
    opacity: 0.7;
    &:hover {
        opacity: 1;
    }
}

.float-right { float: right }
.float-left { float: left }
.overflow-hidden { overflow: hidden }
.overflow-hidden.is-fullwidth { max-width: 100%; }

//-- navbar
.navbar + .container {
    margin-top: 1em;
}

.navbar.has-shadow, .navbar.is-fixed-bottom.has-shadow {
    box-shadow: 0em 0em 1em rgba(0,0,0,0.1);
}

a.navbar-item.is-active {
   border-bottom: 1px grey solid;
}

.navbar {
    .navbar-dropdown {
        z-index: 2000;
    }

    .navbar-split {
        margin: 0.2em 0em;
        margin-right: 1em;
        padding-right: 1em;
        border-right: 1px $grey-light solid;
        display: inline-block;
    }

    form {
        margin: 0em;
        padding: 0em;
    }

    &.toolbar {
        margin: 1em 0em;
        background-color: transparent;
        margin-bottom: 1em;

        .title {
            padding-right: 2em;
            margin-right: 1em;
            border-right: 1px $grey-light solid;

            font-size: $size-5;
            color: $text-light;
            font-weight: $weight-light;
        }
    }
}

//-- cards
.card {
    .title {
        a {
            color: $dark;
        }

        padding: 0.2em;
        font-size: $size-5;
        font-weight: $weight-medium;
    }

    &.is-primary {
        box-shadow: 0em 0em 0.5em $black
    }
}

.card-super-title {
    position: absolute;
    z-index: 1000;
    font-size: $size-6;
    font-weight: $weight-bold;
    padding: 0.2em;
    top: 1em;
    background-color: #ffffffc7;
    max-width: 90%;

    .fas {
        padding: 0.1em;
        font-size: 0.8em;
    }
}


//-- media
.media.item .headline {
    line-height: 1.2em;
    max-height: calc(1.2em * 3);
    overflow: hidden;

    & + .headline-overflow {
        position: relative;
        width: 100%;
        height: 2em;
        margin-top: -2em;
    }

    & + .headline-overflow:before {
        content:'';
        width:100%;
        height:100%;
        position:absolute;
        left:0;
        bottom:0;
        background:linear-gradient(transparent 1em, $body-background-color);
    }
}

.media {
    .subtitle {
        margin-bottom: 0.4em;
    }
    .media-content .headline {
        font-size: 1em;
        font-weight: 400;
    }
}

//-- general
body {
    background-color: $body-background-color;
}

section > .toolbar {
    background-color: rgba(0,0,0,0.05);
    padding: 1em;
    margin-bottom: 1.5em;
}


