{% load static %}
<!DOCTYPE html>
<html>
    <head>
        {% block head %}
        <meta charset="utf8" />
        <script src="{% static "pellicciotto/js/chunk-vendors.js" %}"></script>
        <script src="{% static "pellicciotto/js/chunk-common.js" %}"></script>
        {% block head-app %}
        <script src="{% static "pellicciotto/js/core.js" %}"></script>
        {% endblock %}
        <link rel="stylesheet" href="{% static "pellicciotto/css/chunk-vendors.css" %}" />
        <link rel="stylesheet" href="{% static "pellicciotto/css/chunk-common.css" %}" />
        {% endblock %}

        <script>
            window.addEventListener('load', function() {
                var props = {};
                {% block init-script %}
                window.createApp(window.App, props)
                {% endblock %}
            }, false);
        </script>

    </head>
    <body>
        <nav class="navbar has-shadow is-dark" role="navigation">
            <div class="navbar-brand">
                <a class="navbar-item" href="/">
                    <h1 class="title has-text-light">Pellicciotto</h1>
                </a>
            </div>
            <div class="navbar-menu">
                <div class="navbar-start">
                {% block nav-menu %}
                {% endblock %}
                </div>
            </div>
        </nav>

        <main id="app" class="container">
            {% block main %}
            {% endblock %}
        </main>
    </body>
</html>
