{% load i18n %}

<div class="field">
    <label>{% trans "Race id" %}</label>
    <input type="number" name="comp" value="{{ data.comp|default:'' }}">
</div>
<div class="field">
    <label>{% trans "Date" %}</label>
    <input type="date" name="jour" value="{{ data.jour|date:'Y-m-d' }}">
</div>
<div class="field">
    <label>{% trans "Date &lt;" %}</label>
    <input type="date" name="jour__lt" value="{{ data.jour__lt|date:'Y-m-d' }}">
</div>
<div class="field">
    <label>{% trans "Date &gt;" %}</label>
    <input type="date" name="jour__gt" value="{{ data.jour__gt|date:'Y-m-d' }}">
</div>
<div class="field">
    <label>{% trans "Hippo" %}</label>
    <input type="text" name="hippo__iexact" value="{{ data.hippo__iexact|default:'' }}">
</div>
<div class="field">
    <label>{% trans "Type" %}</label>
    <select name="typec__iexact">
        <option value=""></option>
        {% for v,l in CacheDate.TYPE_CHOICES %}
        <option value="{{ v }}" {% if data.hippo__iexact == v %}selected{% endif %}>
            {{ l }}</option>
        {% endfor %}
    </select>
</div>
<div class="field">
    <label>{% trans "Horse id" %}</label>
    <input type="text" name="idche" value="{{ data.idche|default:'' }}">
</div>

