{% extends "aspiturf/base.html" %}
{% load i18n %}

{% block init-script %}
props = {
    listUrl: "{% url "cache_date-list" %}",
    runImportUrl: "{% url "cache_date-run-import" %}",
    importStatusUrl: "{% url "cache_date-status" %}",
    importStatusTimeout: 5000,
}
{{ block.super }}
{% endblock %}

{% block main %}
{{ block.super }}
<h1 class="title is-1">Aspiturf</h1>
<h2 class="subtitle is-3">CacheDates</h2>

<template v-if="importStatus && importStatus.data && importStatus.data.is_running">
    <div class="message is-info">
        <div class="message-body">
            <template v-if="tasks">
                {% trans "An import is currently running: " %}
                <ul>
                    <li v-for="counts, key in tasks" :title="counts[0] + ' / ' + counts[1]">
                        <b class="mr-2">[[ key ]]</b>
                        <progress :max="counts[1]" :value="counts[0]" style="width:80%"/>
                    </li>
                </ul>
            </template>
            <template v-else>
                {% trans "An import is currently starting..." %}
            </template>
        </div>
    </div>
</template>

<form method="GET" action="#" id="filters-form" class="is-inline"
    @submit.stop.prevent="list.fetch()">
    {% with filterset_data as data %}
    {% include "aspiturf/cachedate_filters.html" %}
    {% endwith %}

    <div class="columns">
        <div class="column">
            <template v-if="!importStatus || !importStatus.is_running">
                <button class="button is-link"
                    @click.stop.prevent="runImport()">{% trans "Run import" %}</button>
            </template>
        </div>
        <div class="column has-text-right">
            <button class="button is-primary">{% trans "Filter" %}</button>
            <a href="" class="button is-secondary">{% trans "Reset Filters" %}</a>
        </div>
    </div>
</form>

<hr/>

<template v-if="list.isLoading">
<div class="message is-info">
    <div class="message-body">
        {% trans "List is loading..." %}
    </div>
</div>
</template>

<div class="has-text-right" v-if="list.totalCount">
    <b>{% trans "Items" %}:</b> [[ list.items.length ]] / [[ list.totalCount ]]
</div>
<table class="list" v-if="items.length">
    <tr>
        <th>{% trans "Date" %}</th>
        <th>{% trans "Hippo" %}</th>
        <th>{% trans "Type" %}</th>
        <th>{% trans "Race" %}</th>
        <th>{% trans "Place" %}</th>
        <th>{% trans "Horse" %}</th>
        <th>{% trans "Quote P" %}</th>
        <th>{% trans "Quote D" %}</th>
    </tr>
    <tr v-for="(obj, index) in items" :key="index">
        <td>
            [[ obj.data.jour ]]
            {% comment %}
            {{ obj.data.jour|date:"Y/m/d" }}
            {% if obj.data.caractrap %}
            {{ obj.data.caractrap.heure|time:'H:i' }}
            {% endif %}
            {% endcomment %}
        </td>
        <td>[[ obj.data.hippo ]]</td>
        <td>[[ obj.data.typec ]]</td>
        <td>[[ obj.data.numcourse ]]</td>
        <td>[[ obj.data.numero ]]</td>
        <td>[[ obj.data.cheval ]]</td>
        <td>[[ obj.data.coteprob ]]</td>
        <td>[[ obj.data.cotedirect ]]</td>
    </tr>
</table>

<div class="has-text-centered" v-if="list.nextUrl">
    <button @click="list.fetch({append: true, url: list.nextUrl })" class="button is-link">{% trans "Fetch more results" %}</button>
</div>

<br>
{% endblock %}

