<template>
    <div>
        <template v-if="$slots.header">
            <slot name="header" :list="list" :items="items"></slot>
        </template>
        <component :is="this.listTag">
            <template v-for="(item,index) in items" :key="index">
                <li :class="itemClass" @click="select(index)">
                    <slot name="item" :list="list" :index="index" :item="item"></slot>
                </li>
            </template>
        </component>
    </div>
</template>
<script>
import List from '../list'
    
export default {
    data() {
        return {
            list: this.resetList()
        }
    },

    props: {
        model: Object,
        url: String,
        fetch: Boolean,
        filtersForm: {type: String, default: null},
        listTag: { type: String, default: 'ul' },
        listClass: {type: String, default: ''},
        itemClass: {type: String, default: ''},
    },

    computed: {
        items() { return this.list.items },
        length() { return this.list.items.length },
    },

    methods: {
        resetList({fetch=null, ...options}={}) {
            if(!options.filtersForm)
                options.filtersForm = this.filtersForm
            const list = new List(this.model, this.url, options)
            fetch = (fetch === null) ? this.fetch : fetch
            if(fetch)
                list.fetch()
            return list
        }
    },

    watch: {
        filtersForm(value) { this.list.filtersForm = value },
        url() { this.list = this.resetList() },
        model() { this.list = this.resetList() },
    }
}
</script>
